

<div class ="row mt-3">
    <div class="col-md-7">
        <ul>
        {{#each burgers}}
        <li class="created-burgers p-2 mb-2 ">
            {{burger_name}}
            <button class="devour-it float-right" data-id="{{id}}" data-eatenBurger="{{devoured}}">
            Devour it!
            </button>
        </li>
            {{/each}}
        </ul>
    </div> 
    
    <div class="col-md-5 text-center">
        <ul>
          {{#each burgers}}
            <li class="devoured-burgers p-2 mb-2"> {{burger_name}}
            </li>
          {{/each}}
        </ul>
    </div>
</div>

<div class ="row mt-3">
    <div class="col-md-12 text-center">
        <form class="create-form">
        <div class="form-group center-block">
            <textarea class="form-control text-center" id="hamburger" rows="3" placeholder="Enter a burger you want to eat then click the 'Submit' button." name="burger_name"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
        <br>
        
        </form>
    </div>
</div>

