body {
    background: rgb(216,36,9);
    background: radial-gradient(circle, rgba(216,36,9,1) 0%, rgba(229,79,15,1) 35%, rgba(240,199,11,1) 100%);
}

h1 {
    font-family: 'Chango', cursive;
    font-size: 4em;
}

img {
    max-width:30%;
    height:auto;
}

.form-group {
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    list-style-type: none;
  }

.created-burgers, .btn {
    background-color: black;
    color: antiquewhite;
    font-size: 1.5em;
    font-weight: bolder;
}

.devoured-burgers {
    background-color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

.devour-it {
    background-color: white;
    font-size: 0.8em;
    font-weight: bolder;
}